@keyframes verticalMeshGradient {
    0% { background-position: left bottom; }
    50% { background-position: right top; }
    100% { background-position: left bottom; }
  }
  
  .animate-mesh-gradient {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(111, 238, 200, 0.7), rgba(64, 224, 208, 0.7), rgba(135, 206, 250, 0.7));
    background-size: 400% 400%;
    animation: verticalMeshGradient 6s ease-in-out infinite alternate;
  }
  
  
  
  